{% extends 'base.html' %}

{% block content %}
<h1 align="center">个人微博</h1>
<hr>
{% for item in blog %}
<div class="alert alert-info" role="alert" style="text-align: left">
    <!--实现换行-->
    <span style="font-size: 20px;color: black">{{ item.content | replace('\n', '<br>') | safe }} </span>
    <br><br><span>{{ item.update_time }}</span>
    <hr style="margin-top: 2px;margin-bottom: 8px">
    <a href="/blog/update_wb?id={{item.id}}" class="alert-link">修改内容</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/blog/delete?id={{item.id}}" class="alert-link">删除微博</a>
    &nbsp;&nbsp;&nbsp;
</div>
{% endfor %}


<div align="center" style="margin-bottom: 30px">
    <nav aria-label="Page navigation" class="navbar-sta">
        <ul class="pagination">

            <li>
                {% if page>1 %}
                <a href="/blog/content?page={{page-1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {%else%}
                <a href="#" aria-label="Previous" style="color: gray">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {%endif%}
            </li>

            {% for x in page_range %}
            {% if x==page %}
            <li><a href="/blog/content?page={{x}}" style="color: gray">{{x}}</a></li>
            {% else %}
            <li><a href="/blog/content?page={{x}}">{{x}}</a></li>
            {% endif %}
            {% endfor %}

            <li>
                {% if page < max_pages %}
                <a href="/blog/content?page={{page+1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {%else%}
                <a href="#" aria-label="Next" style="color: gray">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {%endif%}
            </li>

        </ul>
    </nav>
</div>
{% endblock %}
