{% extends 'base.html' %}

{% block sidebar %}
<h1 align="center">当前用户</h1>
<hr>

<ul style="font-size: 20px;padding-bottom: 50px;list-style: none">
    <li>帐号：{{user_info.username}}</li>

    {% if user_info.gender=='male' %}
    <li>性别：男</li>
    {% else %}
    <li>性别：女</li>
    {% endif %}

    <li style="color: black;padding-top: 20px">
        <a href="/user/update" style="padding-right: 10px">修改信息</a>
        <a href="/user/logout">退出</a>
    </li>

</ul>
{% endblock %}


{% block content %}
<h1 align="center">微博首页</h1>
<hr>

<ol style="font-size: 20px">
    {% for item in blog %}
    <li><a href="/blog/read?id={{item.id}}">{{item.title}}</a></li>
    {% endfor %}
</ol>

<ul style="font-size: 20px;list-style: none;color: black">
    <li>
        <a href="/blog/content" style="padding-right: 20px;float: bottom">编辑个人微博</a>
    </li>
</ul>

{% endblock %}