{% extends 'base.html' %}

{% block content %}
<script src="../../static/jquery-3.5.1/jquery-3.5.1.js"></script>
<h1 align="center">微博首页</h1>
<hr>

<!-------------------------------------展示微博----------------------------------------->
<!-------------------------------------点赞最多微博--------------------------------------------->
<div class="alert alert-info" role="alert" style="text-align: left">
    <span class="glyphicon glyphicon-fire " aria-hidden="true" style="float: right;color: red"></span>

    <img src="{{hot_blog.author.avatar}}" class="img-circle"
         style="width: 60px;height: 60px;margin-right:10px;float: left">

    <div style="height: 15px"></div>

    <span style="clear: both">
            <a href="/user/other_info?uid={{hot_blog.author.id}}&bid={{hot_blog.id}}">
                <span style="font-size: 18px;color: black">{{ hot_blog.author.username }}</span>
            </a>
            <br>
            <span style="color: grey">{{ hot_blog.update_time }}</span>
            &nbsp&nbsp&nbsp
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <span>&nbsp({{ hot_blog.n_thumb }})</span>
        </span>
    <br>
    <hr style="margin-bottom: 8px;margin-top: 8px">
    <a href="/blog/read?bid={{hot_blog.id}}">
        <!--实现换行-->
        <span style="font-size: 20px;color: black">{{ hot_blog.content | replace('\n', '<br>') | safe }} </span>
    </a>

</div>


<!-------------------------------------普通微博--------------------------------------------->
{% for item in blog %}
<div class="alert alert-info" role="alert" style="text-align: left">

    <img src="{{item.author.avatar}}" class="img-circle"
         style="width: 60px;height: 60px;margin-right:10px;float: left">

    <div style="height: 15px"></div>

    <span style="clear: both">
            <a href="/user/other_info?uid={{item.author.id}}&bid={{item.id}}">
                <span style="font-size: 18px;color: black">{{ item.author.username }}</span>
            </a>
            <br>
            <span style="color: grey">{{ item.update_time }}</span>
            &nbsp&nbsp&nbsp
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <span>&nbsp({{ item.n_thumb }})</span>
        </span>
    <br>
    <hr style="margin-bottom: 8px;margin-top: 8px">
    <a href="/blog/read?bid={{item.id}}">
        <!--实现换行-->
        <span style="font-size: 20px;color: black">{{ item.content | replace('\n', '<br>') | safe }} </span>
    </a>

</div>
{% endfor %}

<!-------------------------------------页码----------------------------------------->
<div align="center" style="margin-bottom: 30px">
    <nav aria-label="Page navigation" class="navbar-sta">
        <ul class="pagination">

            <!--前一页-->
            <li>
                {% if page>1 %}
                <a href="/blog/?page={{page-1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {%else%}
                <a href="#" aria-label="Previous" style="color: gray">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {%endif%}
            </li>

            <!--页码显示-->
            {% for x in page_range %}
            {% if x==page %}
            <li><a href="/blog/?page={{x}}" style="color: gray">{{x}}</a></li>
            {% else %}
            <li><a href="/blog/?page={{x}}">{{x}}</a></li>
            {% endif %}
            {% endfor %}

            <!--后一页-->
            <li>
                {% if page < max_pages %}
                <a href="/blog/?page={{page+1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {%else%}
                <a href="#" aria-label="Next" style="color: gray">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {%endif%}
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
