{%extends 'base.html' %}

{% block content %}
<h1 align="center">微博内容</h1>
<hr>


{% if error == 1 %}
<div class="alert alert-danger" role="alert" style="text-align: center">评论不能为空！</div>
{% endif %}

{% if error == 2 %}
<div class="alert alert-danger" role="alert" style="text-align: center">回复不能为空！</div>
{% endif %}

<!------------------------------------------展示微博内容-------------------------------------------->
<div class="alert alert-info" role="alert" style="text-align: left">
    <span style="font-size: 40px;color: black"><strong>{{ blog.author.username }}</strong></span>
    &nbsp&nbsp&nbsp&nbsp
    <span style="color: black">{{ blog.update_time }}</span>
    &nbsp&nbsp&nbsp

    <!---------------------------------------点赞 按钮-------------------------------------------->
    <span>
        {% if is_thumb ==0 %}
        <a href="/blog/thumb?bid={{blog.id}}">
        <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:#999999"></span>
        </a>
        <span>&nbsp{{blog.n_thumb}}</span>
        {% else %}
        <a href="/blog/thumb?bid={{blog.id}}">
        <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:#ff0000"></span>
        </a>
        <span>&nbsp{{ blog.n_thumb }}</span>
        {% endif %}
    </span>

    <!---------------------------------------关注 按钮-------------------------------------------->
    <span style="float:right;clear: both">
        {% if session.uid!=blog.author.id %}
        {% if is_follow == 0 %}
        <span>关注&nbsp</span>
        <a href="/user/follow?fid={{blog.uid}}&bid={{blog.id}}&pid=0">
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:#999999"></span>
        </a>
        {% else %}
         <span>关注&nbsp</span>
        <a href="/user/follow?fid={{blog.uid}}&bid={{blog.id}}&pid=0">
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:gold"></span>
        </a>
        {% endif %}
        {% endif %}
    </span>


    <hr style="margin-bottom: 8px;margin-top: 8px">
    <!--微博内容实现换行-->
    <span style="font-size: 20px;color: black">{{ blog.content | replace('\n', '<br>') | safe }} </span>

    <!--如果登录用户id和该文本的作者id相同，提供 删除和修改功能-->
    <ul style="font-size: 15px;list-style: none">
        {% if session.get('uid') == blog.uid %}
        <li style="margin-left: -40px;margin-top: 8px">
            <a href="/blog/update_wb?id={{blog.id}}" class="alert-link" style="padding-right: 10px">修改微博</a>
            <a href="/blog/delete?id={{blog.id}}" class="alert-link" style="padding-right: 10px">删除微博</a>
        </li>
        {% endif %}
    </ul>
</div>


<!--------------------------------------------写评论-------------------------------------------->
<form class="form-horizontal" action="/blog/write_comment" method="POST" enctype="multipart/form-data">
    <!--    内容-->
    <div class="col-sm-13">
        <textarea name="comment" class="form-control" placeholder="......" rows="3"></textarea>
    </div>

    <input type="hidden" name="bid" value="{{blog.id}}">

    <!--    按钮-->
    <div class="form-group">
        <div class=" col-sm-8">
            <button type="submit" class="btn btn-success">评论</button>
        </div>
    </div>
</form>
<hr>


<!--------------------------------------------展示评论-------------------------------------------->
{% for item in comment %}
<div class="alert alert-info" role="alert" style="text-align: left">
    <!----------------------------------------展示评论内容-------------------------------------------->
    {% if item.cid==0 %}
    <span style="font-size: 15px;color: black"><strong>{{ item.author.username }}</strong>&nbsp说:</span><br><br>
    {% else %}
    <span style="font-size: 15px;color: black">
        <strong>{{ item.author.username }}</strong>&nbsp对&nbsp
        <strong>{{item.upper.author.username}}</strong>&nbsp说:
    </span><br><br>
    {%endif%}

    <span style="color: black">{{ item.content | replace('\n', '<br>') | safe }}</span><br><br>
    <span style="color: black">{{item.create_time}}</span>&nbsp&nbsp&nbsp&nbsp

    <!--------------------------------------------删除-------------------------------------------->
    <!--如果登录用户id和发评论的人的id相同 且评论没有被删除  则给你一个删除按钮-->
    {% if item.uid == session.get('uid') %}
    {% if item.content != '当前评论已被删除' %}
    <a href="/blog/delete_comment?comment_id={{ item.id }}">删除</a>
    {% endif %}
    {% endif %}
    <hr>

    <!--------------------------------------------回复-------------------------------------------->
    <form class="form-horizontal" action="/blog/reply_comment" method="POST" enctype="multipart/form-data">
        <!--如果评论已经被删除了，则回复框消失-->
        {% if item.content == '当前评论已被删除' %}
        {% else %}
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" name="content" class="form-control" placeholder="......">
                <input type="hidden" name="bid" value="{{blog.id}}">
                <input type="hidden" name="cid" value="{{item.id}}">
            </div>
            <button type="submit" class="btn btn-success" style="margin-left: 15px">回复</button>
        </div>
        {% endif %}
    </form>
</div>
{% endfor %}

{% endblock %}
