{%extends 'base.html' %}

{% block content %}
<h1 align="center">微博内容</h1>
<hr>

<div style="font-size: 20px">
    <div style="padding-bottom: 10px">
        <strong>标题：</strong>{{blog.title}}
    </div>

    <div style="padding-bottom: 10px">
        <strong>内容：</strong>{{blog.content}}
    </div>

    <div style="padding-bottom: 50px">
        <strong>日期：</strong>{{blog.create_time}}
    </div>

</div>

{% endblock %}


{% block sidebar %}
<h1 align="center">当前用户</h1>
<hr>

<ul style="text-align: center;font-size: 22px;padding-bottom: 50px;list-style: none">
    <li>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <strong>{{user_info.username}}</strong>
        <a href="/user/logout" style="padding-left: 10px">
            <button type="button" class="btn btn-info">退出</button>
        </a>
    </li>

    <li style="padding-top: 20px">
        <a href="/blog/delete?id={{bid}}" style="padding-right: 10px">
            <button type="button" class="btn btn-info">删除微博</button>
        </a>
        <a href="/blog/content">
            <button type="button" class="btn btn-info">返回</button>
        </a>
    </li>
</ul>
{% endblock %}