{% extends 'base.html' %}

{% block content %}
<script src="../../static/jquery-3.5.1/jquery-3.5.1.js"></script>
<h1 align="center">点赞的微博</h1>
<hr>
{% for item in blog %}
<div class="alert alert-info" role="alert" style="text-align: left">
    <a href="/user/other_info?uid={{item.author.id}}&bid={{item.id}}">
        <span style="font-size: 22px;color: black">{{ item.author.username }}</span>
    </a>

    &nbsp&nbsp&nbsp&nbsp
    <span style="color: black">{{ item.update_time }}</span>
    &nbsp&nbsp&nbsp

    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <span>&nbsp{{ item.n_thumb }}</span>

    <hr style="margin-bottom: 8px;margin-top: 8px">
    <a href="/blog/read?bid={{item.id}}">
        <!--实现换行-->
        <span style="font-size: 20px;color: black">{{ item.content | replace('\n', '<br>') | safe }} </span>
    </a>
</div>
{% endfor %}

{% endblock %}