<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">



    <title>微博基础页面</title>
    <style>
        #foot {
            margin-top: 50px;
        }

        #top {
            margin: 0px;
        }
    </style>
</head>
<body>

<!--导航栏-->
<nav class="navbar navbar-default" id="top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-fire " aria-hidden="true"></span>微博</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if 'uid' in session %}
                <li>
                    <a href="/blog">首页 <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li>
                    <a href="/">首页 <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                <li>
                    <a href="/user/your_follows">我的关注</a>
                </li>
                <li>
                    <a href="/user/your_fans">我的粉丝</a>
                </li>
                <li>
                    <a href="/blog/thumb_blog">我的点赞</a>
                </li>
            </ul>

            <div>
                <form class="navbar-form navbar-left" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
            </div>

            <div style="float: right;margin-top: 10px">
                {% if 'uid' in session %}
                <a class="btn btn-info" href="/blog/content">个人微博</a>
                <a class="btn btn-success" href="/blog/write">发布微博</a>
                <a class="btn btn-primary" href="/user/info?uid={{session.uid}}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true" style="margin:0px">.{{ session.username }}
                    </span>
                </a>
                <a class="btn btn-warning" href="/user/logout">退出</a>
                {% else %}
                <a class="btn btn-success" href="/user/login">登录</a>
                <a class="btn btn-primary" href="/user/register">注册</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<!-- 容器 -->
<div class="container">
    <div class="row">
        <!-- 内容区 占8格-->
        <div class="">{% block content %}{% endblock %}</div>

        <!--        &lt;!&ndash; 边栏区 占4格&ndash;&gt;-->
        <!--        <div class="col-md-4">{% block sidebar %}{% endblock %}</div>-->
    </div>
</div>

<!--    底栏-->
<!--<div style="float: bottom">-->
<!--    <nav id="foot" class="navbar navbar-default navbar-fixed-bottom" style="padding-top: 16px">-->
<!--        <div class="container footbar">-->
<!--            <div class="text-center text-secondary">Copyright @ LiuBuFan</div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

</body>
</html>

<script src="../static/jquery-3.5.1/jquery-3.5.1.min.js"></script>
<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/jQueryWbPl/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="../static/jQueryWbPl/js/jquery.flexText.js"></script>